body {
  background-color: #202020;
  font-family: 'Almarai', sans-serif;
  color: white;
}

.TOP{
  margin-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
}

h5{
  display: inline-block;
}

.jumbotron{
  max-width: 750px;
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
    height: 4px;

    background: #ddd;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;s
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #343a40;
    margin-top: -4px;
}
